@charset "UTF-8";
body{color:#4d4d4d; font-size:16px; line-height:30px; letter-spacing:-0.025em; font-weight:400; font-family:"SCoreDream","NotoKr","Malgun Gothic","맑은 고딕","Dotum","돋움","Gulim","굴림",sans-serif;}

/*아코디언*/
.accordion .accordion_item{position:relative; border:1px transparent solid;  border-radius:7px;  background-image:linear-gradient(#fff, #fff), linear-gradient(to right, #dadce0, #dadce0); background-origin:border-box; background-clip:content-box, border-box; font-size:0; line-height:0; box-sizing:border-box;}
.accordion .accordion_item:hover{background-image:linear-gradient(#fff, #fff), linear-gradient(to right, #de5787, #4e70e7);}
.accordion .accordion_item + .accordion_item{margin-top:10px;}
.accordion .accordion_item .accordion_header{width:100%; height:100%; padding:13px 41px 17px 39px; border-radius:7px 7px 0 0; text-align:left; transition-property:padding; transition-duration:.2s; transition-timing-function:linear;}
.accordion .accordion_item .accordion_header .accordion_button{position:relative; width:100%; height:100%; text-align:left;}
.accordion .accordion_item .accordion_header .accordion_button:before{display:block; position:absolute; top:13px; right:0; width:15px; height:8px; background:url('../images/main/accordion_arrow.png')no-repeat; transform:rotate(-180deg);}
.accordion .accordion_item .accordion_header .accordion_title{width:calc(100% - 100px); color:#222; font-size:16px; line-height:30px; font-weight:300; letter-spacing:-0.02em; vertical-align:middle; transition-property:font-size; transition-duration:.2s; transition-timing-function:linear;}


.accordion .accordion_item .accordion_icon{margin-right:21px; color:#333; font-size:20px; line-height:30px; font-weight:600; letter-spacing:-0.02em; vertical-align:middle;}

.accordion .accordion_item .accordion_body{display:none; padding:30px 40px 37px 39px;}
.accordion .accordion_item .accordion_body .accordion_icon{color:#b62b5c; font-size:24px; vertical-align:top;}
.accordion .accordion_item .accordion_body .accordion_content{display:inline-block; width:calc(100% - 39px); color:#222; font-size:16px; line-height:28px; font-weight:300; letter-spacing:-0.02em; vertical-align:top;}
.accordion .accordion_item .accordion_body .accordion_content ul{padding-left:16px;}
.accordion .accordion_item .accordion_body .accordion_content ul li{position:relative;}
.accordion .accordion_item .accordion_body .accordion_content ul li:before{display:block; position:absolute; top:10px; left:-15px; width:5px; height:5px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background-color:#b62b5c;}

/*active*/
.accordion .accordion_item.active{background-image:linear-gradient(#fff, #fff), linear-gradient(to right, #de5787, #4e70e7);}
.accordion .accordion_item.active .accordion_header{padding:21px 41px 22px 39px; background: linear-gradient(90deg, rgba(248,236,240,1) 0%, rgba(246,248,254,1) 70%);}
.accordion .accordion_item.active .accordion_header .accordion_button:before{top:14px; transform:rotate(0deg);}
.accordion .accordion_item.active .accordion_header .accordion_icon{margin-right:18px; font-size:24px; line-height:36px;}
.accordion .accordion_item.active .accordion_header .accordion_title{padding-top:4px; color:#222; font-size:18px; line-height:27px; font-weight:500;}
.accordion .accordion_item.active .accordion_body{display:block;}

/* box */
.box{display:inline-block; position:relative; width: calc((100% - 20px) / 4); margin-right:20px; border-radius: 15px; vertical-align:top;}
.box:nth-child(4n){margin-right: 0;}
.box:before, .box:after{display:block; position:absolute; top:0; width:1px; height:100%; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAYAAACEhIafAAAAAXNSR0IArs4c6QAAABBJREFUGFdjkJSU/M+ABQAAG8EBS+s2/VIAAAAASUVORK5CYII=) repeat;}
.box:before{left:0;}
.box:after{right:0;}
.box .inner{position:relative; }
.box .inner:before, .box .inner:after{display:block; position:absolute; width:100%; height:1px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAAXNSR0IArs4c6QAAABRJREFUGFdjlJSU/P/8+XNGBiQAAD9SBAI6zUStAAAAAElFTkSuQmCC) repeat;}
.box .inner:before{top:0; left:0;}
.box .inner:after{bottom:0; left:0;}
.box .box_title{position:relative;margin-bottom:6px;color:#182866; letter-spacing: -0.028em;font-weight:600; background: #fff;padding: 10px 0 10px 46px;left: -44px;}
.box .box_title:before, .box .box_title:after{display: block; position:absolute;}
.box .box_title:before{top: 21px;left:-2px;width:10px;height:10px;border:3px #182866 solid;box-sizing: border-box;}
.box .box_title:after{top:26px; left:16px; width:20px; height:1px; background:#5d6894; }
.box .box_wrap{position:relative;padding:28px 80px 30px 44px;}
.box .box_wrap:before, .box .box_wrap:after{display:block;position:absolute; z-index:1; top: -1px;width:10px;height:10px;background: url("../images/main/box_radius.png") no-repeat;}
.box .box_wrap:before{top:0; left:0;transform:rotate(-90deg);}
.box .box_wrap:after{right: -1px;z-index: 1;}
.box .box_text:before, .box .box_text:after{display:block;position:absolute; z-index:1; bottom: -1px;width:10px;height:10px;background: url("../images/main/box_radius.png") no-repeat;}
.box .box_text:before{bottom:0; left:0;transform:rotate(-180deg);}
.box .box_text:after{right: -1px;z-index: 1; transform:rotate(-270deg);}

/* 버튼 */
.btn{position:relative; min-width:120px; border:1px #444444 solid; background:#fff; padding:5px 10px 4px; border-radius: 5px; color: #555555; font-size:14px; font-weight:500; line-height:26px; text-align: left; transition:0.3s; vertical-align:top; text-decoration: none;}
.btn:hover{border-color:#182866; background-color:#182866; color:#fff;}

/* 퍼센트 */
.percent{display: block; position: relative;}
.percent span{display: inline-block; position: relative; vertical-align: top;}
.percent .stick{}